## 실습) 네이버금융 기업 실적 분석

https://finance.naver.com/item/main.nhn?code=005930

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
#사이트 불러오기
headers = {'User-Agent':'Mozilla/5.0'}
url = 'https://finance.naver.com/item/main.nhn?code=005930'

#필요한 데이터 위치
html = requests.get(url, headers=headers).text
soup = BeautifulSoup(html,'html.parser')
tb_type1 = soup.find('table',{'class':'tb_type1 tb_num tb_type1_ifrs'})
tbody = tb_type1.find('tbody')
td = tbody.find_all('td')

In [3]:
#필요한 데이터 수치만 불러오기
issue = []

for i in range(0,len(td)):
    try:
        val = td[i].text.replace('\t','').replace('\n','')
        print(val)
        print('--------')
        issue.append(val)
    except:
        print('None')

2,437,714
--------
2,304,009
--------
2,368,070
--------
2,606,919
--------
598,848
--------
553,252
--------
529,661
--------
669,642
--------
615,515
--------
602,650
--------
588,867
--------
277,685
--------
359,939
--------
460,647
--------
71,603
--------
64,473
--------
81,463
--------
123,532
--------
90,470
--------
85,752
--------
443,449
--------
217,389
--------
264,078
--------
347,672
--------
52,270
--------
48,849
--------
55,551
--------
93,607
--------
66,071
--------
61,580
--------
24.16
--------
12.05
--------
15.20
--------
17.67
--------
11.96
--------
11.65
--------
15.38
--------
18.45
--------
14.70
--------
14.23
--------
18.19
--------
9.44
--------
11.15
--------
13.34
--------
8.73
--------
8.83
--------
10.49
--------
13.98
--------
10.73
--------
10.22
--------
19.63
--------
8.69
--------
9.98
--------
12.36
--------
8.69
--------
8.45
--------
8.49
--------
9.51
--------
9.98
--------

--------
36.97
--------
34.12
--------
37.07
--------

--------
34.12
--------
34.19
--------
32.67
--------
36.09
--------
37.07
--------

--------
204.12
--------
233.57
--------
214.82
--------

--------
233.57
--------
237.80
--------
250.04
--------
229.69
--------
214.82
--------

--------
27,531.92
--------
28,856.02
--------
30,692.79
--------

--------
28,856.02
--------
29,134.12
--------
29,477.97
--------
30,242.29
--------
30,692.79
--------

--------
6,024
--------
3,166
--------
3,841
--------
5,062
--------
770
--------
720
--------
808
--------
1,364
--------
949
--------
980
--------
6.42
--------
17.63
--------
21.09
--------
16.26
--------
17.63
--------
15.24
--------
16.52
--------
15.89
--------
21.09
--------
83.96
--------
35,342
--------
37,528
--------
39,406
--------
42,530
--------
37,528
--------
38,053
--------
38,534
--------
39,446
--------
39,406
--------

--------
1.09
--------
1.49
--------
2.06
--------
1.94
--------
1.49
--------
1.25
--------
1.37
--------
1.48
--------
2.06
--------

--------
1,416
--------
1,416
--------
2,994
--------
1,562
--------

--------

--------

--------

--------

--------

--------
3.66
--------
2.54
--------
3.70
--------

--------

--------

--------

--------

--------

--------

--------
21.92
--------
44.73
--------
77.95
--------

--------

--------

--------

--------

--------

--------

--------

In [4]:
issue

['2,437,714',
 '2,304,009',
 '2,368,070',
 '2,606,919',
 '598,848',
 '553,252',
 '529,661',
 '669,642',
 '615,515',
 '602,650',
 '588,867',
 '277,685',
 '359,939',
 '460,647',
 '71,603',
 '64,473',
 '81,463',
 '123,532',
 '90,470',
 '85,752',
 '443,449',
 '217,389',
 '264,078',
 '347,672',
 '52,270',
 '48,849',
 '55,551',
 '93,607',
 '66,071',
 '61,580',
 '24.16',
 '12.05',
 '15.20',
 '17.67',
 '11.96',
 '11.65',
 '15.38',
 '18.45',
 '14.70',
 '14.23',
 '18.19',
 '9.44',
 '11.15',
 '13.34',
 '8.73',
 '8.83',
 '10.49',
 '13.98',
 '10.73',
 '10.22',
 '19.63',
 '8.69',
 '9.98',
 '12.36',
 '8.69',
 '8.45',
 '8.49',
 '9.51',
 '9.98',
 '\xa0',
 '36.97',
 '34.12',
 '37.07',
 '\xa0',
 '34.12',
 '34.19',
 '32.67',
 '36.09',
 '37.07',
 '\xa0',
 '204.12',
 '233.57',
 '214.82',
 '\xa0',
 '233.57',
 '237.80',
 '250.04',
 '229.69',
 '214.82',
 '\xa0',
 '27,531.92',
 '28,856.02',
 '30,692.79',
 '\xa0',
 '28,856.02',
 '29,134.12',
 '29,477.97',
 '30,242.29',
 '30,692.79',
 '\xa0',
 '6,024',
 '3,166',
 '3,841',
 '5,062',
 '770',
 '720',
 '808',
 '1,364',
 '949',
 '980',
 '6.42',
 '17.63',
 '21.09',
 '16.26',
 '17.63',
 '15.24',
 '16.52',
 '15.89',
 '21.09',
 '83.96',
 '35,342',
 '37,528',
 '39,406',
 '42,530',
 '37,528',
 '38,053',
 '38,534',
 '39,446',
 '39,406',
 '\xa0',
 '1.09',
 '1.49',
 '2.06',
 '1.94',
 '1.49',
 '1.25',
 '1.37',
 '1.48',
 '2.06',
 '\xa0',
 '1,416',
 '1,416',
 '2,994',
 '1,562',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.66',
 '2.54',
 '3.70',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '21.92',
 '44.73',
 '77.95',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [5]:
#데이터프레임 인덱스로 사용할 데이터 불러오기
th = tbody.find_all('th')

row_name = []

for i in range(0,len(th)):
    try:
        h = th[i].text.replace('\t','').replace('\n','')
        print(h)
        print('--------')
        row_name.append(h)
    except:
        print('None')

매출액
--------
영업이익
--------
당기순이익
--------
영업이익률
--------
순이익률
--------
ROE(지배주주)
--------
부채비율
--------
당좌비율
--------
유보율
--------
EPS(원)
--------
PER(배)
--------
BPS(원)
--------
PBR(배)
--------
주당배당금(원)
--------
시가배당률(%)
--------
배당성향(%)
--------

In [6]:
row_name

['매출액',
 '영업이익',
 '당기순이익',
 '영업이익률',
 '순이익률',
 'ROE(지배주주)',
 '부채비율',
 '당좌비율',
 '유보율',
 'EPS(원)',
 'PER(배)',
 'BPS(원)',
 'PBR(배)',
 '주당배당금(원)',
 '시가배당률(%)',
 '배당성향(%)']

In [7]:
#데이터프레임 컬럼명으로 사용할 데이터 불러오기
html = requests.get(url, headers=headers).text
soup = BeautifulSoup(html,'html.parser')
tb_type1 = soup.find('table',{'class':'tb_type1 tb_num tb_type1_ifrs'})
thead = tb_type1.find('thead')
tr = thead.find_all('tr')
date = tr[1].find_all('th')

In [8]:
col_name = []

for i in range(0,len(date)):
    try:
        val2 = date[i].text.replace('\t','').replace('\n','')
        #val2 = date[i].test.strip()
        print(val2)
        print('--------')
        col_name.append(val2)
    except:
        print('None')

2018.12
--------
2019.12
--------
2020.12
--------
2021.12(E)
--------
2019.12
--------
2020.03
--------
2020.06
--------
2020.09
--------
2020.12
--------
2021.03(E)
--------

In [9]:
col_name

['2018.12',
 '2019.12',
 '2020.12',
 '2021.12(E)',
 '2019.12',
 '2020.03',
 '2020.06',
 '2020.09',
 '2020.12',
 '2021.03(E)']

In [10]:
len(row_name) #행의 개수

16

In [11]:
len(col_name) #열의 개수

10

In [12]:
len(issue) #16x10 형태

160

In [13]:
#데이터 프레임에 필요한 행과 열로 재배치
import numpy as np

np_issue = np.array(issue)
re = np_issue.reshape(16,10)
re

array([['2,437,714', '2,304,009', '2,368,070', '2,606,919', '598,848',
        '553,252', '529,661', '669,642', '615,515', '602,650'],
       ['588,867', '277,685', '359,939', '460,647', '71,603', '64,473',
        '81,463', '123,532', '90,470', '85,752'],
       ['443,449', '217,389', '264,078', '347,672', '52,270', '48,849',
        '55,551', '93,607', '66,071', '61,580'],
       ['24.16', '12.05', '15.20', '17.67', '11.96', '11.65', '15.38',
        '18.45', '14.70', '14.23'],
       ['18.19', '9.44', '11.15', '13.34', '8.73', '8.83', '10.49',
        '13.98', '10.73', '10.22'],
       ['19.63', '8.69', '9.98', '12.36', '8.69', '8.45', '8.49', '9.51',
        '9.98', '\xa0'],
       ['36.97', '34.12', '37.07', '\xa0', '34.12', '34.19', '32.67',
        '36.09', '37.07', '\xa0'],
       ['204.12', '233.57', '214.82', '\xa0', '233.57', '237.80',
        '250.04', '229.69', '214.82', '\xa0'],
       ['27,531.92', '28,856.02', '30,692.79', '\xa0', '28,856.02',
        '29,134.12', '29,477.97', '30,242.29', '30,692.79', '\xa0'],
       ['6,024', '3,166', '3,841', '5,062', '770', '720', '808', '1,364',
        '949', '980'],
       ['6.42', '17.63', '21.09', '16.26', '17.63', '15.24', '16.52',
        '15.89', '21.09', '83.96'],
       ['35,342', '37,528', '39,406', '42,530', '37,528', '38,053',
        '38,534', '39,446', '39,406', '\xa0'],
       ['1.09', '1.49', '2.06', '1.94', '1.49', '1.25', '1.37', '1.48',
        '2.06', '\xa0'],
       ['1,416', '1,416', '2,994', '1,562', '', '', '', '', '', ''],
       ['3.66', '2.54', '3.70', '', '', '', '', '', '', ''],
       ['21.92', '44.73', '77.95', '', '', '', '', '', '', '']],
      dtype='<U9')

In [41]:
#데이터프레임화
import pandas as pd
from pandas import Series, DataFrame

df = pd.DataFrame(re, columns=col_name)
df

,2018.12,2019.12,2020.12,2021.12(E),2019.12,2020.03,2020.06,2020.09,2020.12,2021.03(E)
0,"2,437,714","2,304,009","2,368,070","2,606,919","598,848","553,252","529,661","669,642","615,515","602,650"
1,"588,867","277,685","359,939","460,647","71,603","64,473","81,463","123,532","90,470","85,752"
2,"443,449","217,389","264,078","347,672","52,270","48,849","55,551","93,607","66,071","61,580"
3,24.16,12.05,15.20,17.67,11.96,11.65,15.38,18.45,14.70,14.23
4,18.19,9.44,11.15,13.34,8.73,8.83,10.49,13.98,10.73,10.22
5,19.63,8.69,9.98,12.36,8.69,8.45,8.49,9.51,9.98,
6,36.97,34.12,37.07,,34.12,34.19,32.67,36.09,37.07,
7,204.12,233.57,214.82,,233.57,237.80,250.04,229.69,214.82,
8,"27,531.92","28,856.02","30,692.79",,"28,856.02","29,134.12","29,477.97","30,242.29","30,692.79",
9,"6,024","3,166","3,841","5,062",770,720,808,"1,364",949,980
10,6.42,17.63,21.09,16.26,17.63,15.24,16.52,15.89,21.09,83.96
11,"35,342","37,528","39,406","42,530","37,528","38,053","38,534","39,446","39,406",
12,1.09,1.49,2.06,1.94,1.49,1.25,1.37,1.48,2.06,
13,"1,416","1,416","2,994","1,562",,,,,,
14,3.66,2.54,3.70,,,,,,,
15,21.92,44.73,77.95,,,,,,,

In [48]:
df['주요재무정보']=row_name
#df.set_index('주요재무정보', inplace=True)
df=df.set_index('주요재무정보')
df

,2018.12,2019.12,2020.12,2021.12(E),2019.12,2020.03,2020.06,2020.09,2020.12,2021.03(E)
주요재무정보,,,,,,,,,,
매출액,"2,437,714","2,304,009","2,368,070","2,606,919","598,848","553,252","529,661","669,642","615,515","602,650"
영업이익,"588,867","277,685","359,939","460,647","71,603","64,473","81,463","123,532","90,470","85,752"
당기순이익,"443,449","217,389","264,078","347,672","52,270","48,849","55,551","93,607","66,071","61,580"
영업이익률,24.16,12.05,15.20,17.67,11.96,11.65,15.38,18.45,14.70,14.23
순이익률,18.19,9.44,11.15,13.34,8.73,8.83,10.49,13.98,10.73,10.22
ROE(지배주주),19.63,8.69,9.98,12.36,8.69,8.45,8.49,9.51,9.98,
부채비율,36.97,34.12,37.07,,34.12,34.19,32.67,36.09,37.07,
당좌비율,204.12,233.57,214.82,,233.57,237.80,250.04,229.69,214.82,
유보율,"27,531.92","28,856.02","30,692.79",,"28,856.02","29,134.12","29,477.97","30,242.29","30,692.79",
EPS(원),"6,024","3,166","3,841","5,062",770,720,808,"1,364",949,980
PER(배),6.42,17.63,21.09,16.26,17.63,15.24,16.52,15.89,21.09,83.96
BPS(원),"35,342","37,528","39,406","42,530","37,528","38,053","38,534","39,446","39,406",
PBR(배),1.09,1.49,2.06,1.94,1.49,1.25,1.37,1.48,2.06,
주당배당금(원),"1,416","1,416","2,994","1,562",,,,,,
시가배당률(%),3.66,2.54,3.70,,,,,,,
배당성향(%),21.92,44.73,77.95,,,,,,,

### 참고 다른 방법

In [21]:
#리스트 10개씩 묶어주는 다른 방법
n=10
result_list = []
for row in range((len(issue) + n - 1)//n):
    data=issue[row*n:(row +1)*n]
    result_list.append(data)
    
result_list

[['2,437,714',
  '2,304,009',
  '2,368,070',
  '2,606,919',
  '598,848',
  '553,252',
  '529,661',
  '669,642',
  '615,515',
  '602,650'],
 ['588,867',
  '277,685',
  '359,939',
  '460,647',
  '71,603',
  '64,473',
  '81,463',
  '123,532',
  '90,470',
  '85,752'],
 ['443,449',
  '217,389',
  '264,078',
  '347,672',
  '52,270',
  '48,849',
  '55,551',
  '93,607',
  '66,071',
  '61,580'],
 ['24.16',
  '12.05',
  '15.20',
  '17.67',
  '11.96',
  '11.65',
  '15.38',
  '18.45',
  '14.70',
  '14.23'],
 ['18.19',
  '9.44',
  '11.15',
  '13.34',
  '8.73',
  '8.83',
  '10.49',
  '13.98',
  '10.73',
  '10.22'],
 ['19.63',
  '8.69',
  '9.98',
  '12.36',
  '8.69',
  '8.45',
  '8.49',
  '9.51',
  '9.98',
  '\xa0'],
 ['36.97',
  '34.12',
  '37.07',
  '\xa0',
  '34.12',
  '34.19',
  '32.67',
  '36.09',
  '37.07',
  '\xa0'],
 ['204.12',
  '233.57',
  '214.82',
  '\xa0',
  '233.57',
  '237.80',
  '250.04',
  '229.69',
  '214.82',
  '\xa0'],
 ['27,531.92',
  '28,856.02',
  '30,692.79',
  '\xa0',
  '28,856.02',
  '29,134.12',
  '29,477.97',
  '30,242.29',
  '30,692.79',
  '\xa0'],
 ['6,024',
  '3,166',
  '3,841',
  '5,062',
  '770',
  '720',
  '808',
  '1,364',
  '949',
  '980'],
 ['6.42',
  '17.63',
  '21.09',
  '16.26',
  '17.63',
  '15.24',
  '16.52',
  '15.89',
  '21.09',
  '83.96'],
 ['35,342',
  '37,528',
  '39,406',
  '42,530',
  '37,528',
  '38,053',
  '38,534',
  '39,446',
  '39,406',
  '\xa0'],
 ['1.09',
  '1.49',
  '2.06',
  '1.94',
  '1.49',
  '1.25',
  '1.37',
  '1.48',
  '2.06',
  '\xa0'],
 ['1,416', '1,416', '2,994', '1,562', '', '', '', '', '', ''],
 ['3.66', '2.54', '3.70', '', '', '', '', '', '', ''],
 ['21.92', '44.73', '77.95', '', '', '', '', '', '', '']]