## 실습
1. 상장기업 DB만들기 (table명 컬럼명 개인이)

    - 거래소에 상장되어 있는 기업
    
2. 종목시세 DB만들기 (table명 컬럼명 개인이)

    - 종목명은 제외 > 밤새 실행할 모듈 만들기
    - 금일 과정 종료 후 실행
    - 테스트시에는 종목 10개, 기간 2020.01.01~2020.01.31 테스트 후
    
3. 비고

    1) 작업시간 모니터링하는 데이터 만들어서 보관하기
    2) 공통 모듈은 함수로 만들어서 처리하기
        - 종목 개수와 기간은 변경될 수 있음
    3) Error 발생시에도 중단없이 진행될 수 있도록
        - try: except문
        - 어디에서 에러가 발생한 종목코드 history 남기기
        
4. 예상시간 2시간 > 완료시 파일 올리기

In [1]:
import pymysql
    
db=pymysql.connect(host="localhost", port=3306,
                       user="root", passwd="pass")

cursor = db.cursor()
cursor.execute("create database if not exists marketdb")
db.commit()

In [2]:
def db_connect() :
    import pymysql
    
    db=pymysql.connect(host="localhost", port=3306,
                       user="root", passwd="pass",
                       db="marketdb")
    return db

In [3]:
#상장기업 DB만들기_기업명으로 table 생성
sql = """
        create table if not exists corplist(
                stock_code varchar(6),
                stock_name varchar(20),
                primary key(stock_code)
                )"""

db = db_connect()
cursor = db.cursor()
cursor.execute(sql)
db.commit()

In [4]:
import requests
import pandas as pd

url = "https://kind.krx.co.kr/corpgeneral/corpList.do?method=download"
res = requests.get(url)
pd_read = pd.read_html(res.text)
corp_df = pd_read[0][["종목코드","회사명"]]
corp_df.columns = ["stock_code", "stock_name"]

for row in range(0,len(corp_df)):
    stock_code = corp_df.iloc[row,0]
    stock_name = corp_df.iloc[row,1]
    
    sql = "insert into corplist values (%s, %s)"
    cursor.execute(sql, (stock_code, stock_name))
                   
db.commit()

In [5]:
#종목시세 DB만들기_시세정보 테이블 만들기
sql = """
        create table if not exists ohlcv(
                stock_code    varchar(10)   not null,
                stock_date    date         not null,
                open_price    int(8),
                high_price    int(8),
                low_price     int(8),
                close_price   int(8),
                volume        int(9),
                primary key(stock_code, stock_date),
                index secondary(stock_date, stock_code)
                )"""

db = db_connect()
cursor = db.cursor()
cursor.execute(sql)
db.commit()

In [8]:
import pymysql
import pandas as pd
from pykrx import stock
import time

tickers = stock.get_market_ticker_list()
df=pd.DataFrame()
start_time = time.time()
err_list=[]

for ticker in tickers[:10]:
    
    try:
        start="20200101"; end="20200131"
        stock_df = stock.get_market_ohlcv_by_date(start, end, ticker)
        #time.sleep(0.1)

        stock_df["종목코드"]=ticker
        stock_df=stock_df.reset_index()
        stock_df=stock_df[["종목코드","날짜","시가","고가","저가","종가","거래량"]]
        stock_df.columns= ["stock_code","stock_date", "open_price","high_price","low_price","close_price","volume"]
        df=pd.concat([df,stock_df])
        
        print(ticker,", 작업시간=", time.time()-start_time)
        print("-"*20)
        
    except:
        err_list.append(ticker)

from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql://root:pass@127.0.0.1/marketdb",encoding="utf-8")
df.to_sql(name="ohlcv",con=engine,if_exists="append",index=False)

095570 , 작업시간= 0.023648977279663086
--------------------
006840 , 작업시간= 0.0474088191986084
--------------------
027410 , 작업시간= 0.07151603698730469
--------------------
282330 , 작업시간= 0.09425544738769531
--------------------
138930 , 작업시간= 0.11748266220092773
--------------------
001460 , 작업시간= 0.14014267921447754
--------------------
001465 , 작업시간= 0.1625378131866455
--------------------
001040 , 작업시간= 0.19150018692016602
--------------------
079160 , 작업시간= 0.21901154518127441
--------------------
00104K , 작업시간= 0.24414396286010742
--------------------