# 파이썬을 활용한 데이터 관리

In [2]:
import pymysql

### 1. Database 연결

In [10]:
#데이터베이스 연결
db = pymysql.connect(host = "localhost", #127.0.0.1
                    port = 3306,
                    user = "root", passwd="pass")

cursor = db.cursor()

### 2. DB 생성

In [12]:
#sql을 실행
sql = "create database pydb"

cursor.execute(sql)

cursor.close()
db.commit()

### 3. Table 생성

In [15]:
db = pymysql.connect(host = "localhost", #127.0.0.1
                    port = 3306,
                    user = "root", passwd="pass",
                    db = "pydb")

cursor = db.cursor()

sql = """
    create table tb1_03(
        seq int(3),
        name varchar(20),
        primary key(seq)
        );
    """
#create table pydb.tb1_03으로 써도 된다.

cursor.execute(sql)

cursor.close()
db.commit()

0

### 4. 데이터 insert

In [17]:
cursor = db.cursor()

sql = "insert into tb1_02 (seq, name) values(3,'이순신')"
print(sql)

cursor.execute(sql)

cursor.close()
db.commit()

insert into tb1_02 (seq, name) values(3,'이순신')