In [11]:
# 사용 모듈 및 데이터베이스 연결 
def db_connect():
    import pymysql
    db = pymysql.connect(host='localhost',
                         port=3306,
                         user='root',
                         passwd='pass',
                         db='stockdb',
                         charset='utf8')
    return db

db = db_connect() 
cursor = db.cursor() 

print(" cursor ok !!!! ")

 cursor ok !!!!

In [12]:
def sise_day(stock_code, stock_name, page):

    import pandas as pd
    import requests 
    import time 

#    stock_code = "005930"; stock_name="삼성전자"; page= 1
    url = "https://finance.naver.com/item/sise_day.nhn?code="+str(stock_code)+"&page="+str(page)
    print(url)

    headers = {"user-agent" : "Mozilla/5.0"}
    
    time.sleep(0.2)
    
    res = requests.get(url, headers = headers)
    res_df = pd.read_html(res.text)
    page_df = res_df[0]

    page_df.dropna(inplace=True)  # na 없애고
    page_df["종목코드"] = stock_code ; page_df["종목명"] = stock_name
    # 순서만들기
    page_df = page_df[["종목코드","날짜","종목명","시가","고가","저가","종가","거래량"]]
    # table 컬럼명과 이름 맞추기
    page_df.columns = ["stock_code","stock_date","stock_name", 
                      "open_price","high_price","low_price","close_price","volume"]
    return page_df

## 1. sql 만들기 1

In [13]:
stock_code = "005930"; stock_name="삼성전자"; page= 1

page_df = sise_day(stock_code, stock_name, page)

for row in range(0, len(page_df)):
    stock_code = page_df.iloc[row,0]
    stock_date = page_df.iloc[row,1]
    stock_name = page_df.iloc[row,2]
    open_price = page_df.iloc[row,3]
    high_price = page_df.iloc[row,4]
    low_price = page_df.iloc[row,5]
    close_price = page_df.iloc[row,6]
    volume = page_df.iloc[row,7]
    sql = "INSERT INTO ohlcv values (" \
            "'" + str(stock_code) + "','"\
                + str(stock_date) + "','" \
                + str(stock_name) + "'," \
                + str(open_price) + "," + str(high_price) + "," \
                + str(low_price) + "," + str(close_price) + "," \
                + str(volume) + ")"
    print("row = ", row, " sql = ", sql ) 
    cursor.execute(sql)
    
db.commit()

print(" job 완료!!!! ")

https://finance.naver.com/item/sise_day.nhn?code=005930&page=1
row =  0  sql =  INSERT INTO ohlcv values ('005930','2021.03.24','삼성전자',81000.0,81600.0,80700.0,81300.0,8570785.0)
row =  1  sql =  INSERT INTO ohlcv values ('005930','2021.03.23','삼성전자',82600.0,82900.0,81800.0,81800.0,13299907.0)
row =  2  sql =  INSERT INTO ohlcv values ('005930','2021.03.22','삼성전자',82000.0,82300.0,81700.0,82000.0,12670506.0)
row =  3  sql =  INSERT INTO ohlcv values ('005930','2021.03.19','삼성전자',82100.0,82500.0,81800.0,81900.0,15869700.0)
row =  4  sql =  INSERT INTO ohlcv values ('005930','2021.03.18','삼성전자',82800.0,83800.0,82600.0,82900.0,18585244.0)
row =  5  sql =  INSERT INTO ohlcv values ('005930','2021.03.17','삼성전자',82800.0,82900.0,82000.0,82300.0,11625146.0)
row =  6  sql =  INSERT INTO ohlcv values ('005930','2021.03.16','삼성전자',82200.0,83000.0,82100.0,82800.0,12293537.0)
row =  7  sql =  INSERT INTO ohlcv values ('005930','2021.03.15','삼성전자',82800.0,82900.0,81800.0,81800.0,13735798.0)
row =  8  sql =  INSERT INTO ohlcv values ('005930','2021.03.12','삼성전자',83100.0,83500.0,82400.0,82800.0,13530573.0)
row =  9  sql =  INSERT INTO ohlcv values ('005930','2021.03.11','삼성전자',81000.0,82500.0,81000.0,82000.0,23818297.0)
 job 완료!!!!

## 2. 실행시 변수 할당 방법

In [14]:
stock_code = "005930"; stock_name="삼성전자"; page= 2
page_df = sise_day(stock_code, stock_name, page)

for row in range(0, len(page_df)):
    stock_code = page_df.iloc[row,0]
    stock_date = page_df.iloc[row,1]
    stock_name = page_df.iloc[row,2]
    open_price = page_df.iloc[row,3]
    high_price = page_df.iloc[row,4]
    low_price = page_df.iloc[row,5]
    close_price = page_df.iloc[row,6]
    volume = page_df.iloc[row,7]
    
    
    sql = "INSERT INTO ohlcv values ( %s,%s,%s,%s,%s,%s,%s,%s )"
    print("row  = ", row, " ** ", stock_code, " ", stock_date)
    cursor.execute(sql, (stock_code, stock_date, stock_name, 
                         open_price, high_price, low_price, close_price, volume))

db.commit()

print(" job 완료!!!! ")

https://finance.naver.com/item/sise_day.nhn?code=005930&page=2
row  =  0  **  005930   2021.03.10
row  =  1  **  005930   2021.03.09
row  =  2  **  005930   2021.03.08
row  =  3  **  005930   2021.03.05
row  =  4  **  005930   2021.03.04
row  =  5  **  005930   2021.03.03
row  =  6  **  005930   2021.03.02
row  =  7  **  005930   2021.02.26
row  =  8  **  005930   2021.02.25
row  =  9  **  005930   2021.02.24
 job 완료!!!!

## 3. 직접 값 넣기

In [18]:
db = db_connect() 
cursor = db.cursor() 

stock_code = "005930"; stock_name="삼성전자"; page= 3
page_df = sise_day(stock_code, stock_name, page)

for row in range(0, len(page_df)):
    
    insert_data = list(page_df.iloc[row].values) 
    
    sql = "INSERT INTO ohlcv values ( %s,%s,%s,%s,%s,%s,%s,%s)"
    
    cursor.execute(sql, (insert_data))

db.commit()

https://finance.naver.com/item/sise_day.nhn?code=005930&page=3

In [17]:
list(page_df.iloc[0].values)

['005930',
 '2021.03.10',
 '삼성전자',
 82400.0,
 82500.0,
 80700.0,
 80900.0,
 20038422.0]

## 4. df_to_sql

In [23]:
import pymysql
from sqlalchemy import create_engine

# MariaDB Connector using pymysql 
pymysql.install_as_MySQLdb()

import MySQLdb

engine = create_engine("mysql://root:pass@127.0.0.1/stockdb",encoding="utf-8")

In [22]:
stock_code = "005930"; stock_name="삼성전자"; page= 5
page_df = sise_day(stock_code, stock_name, page)

page_df.to_sql(name="ohlcv",con=engine,if_exists="append",index=False)

https://finance.naver.com/item/sise_day.nhn?code=005930&page=5