https://www.w3schools.com/sql/sql_create_db.asp

In [17]:
#DB연결
import pymysql

db = pymysql.connect(host="localhost", port=3306,
                    user="root", passwd="pass")
cursor = db.cursor()

In [22]:
sql = """create database testdb """
cursor.execute(sql)

1

In [26]:
#DB연결
import pymysql

db = pymysql.connect(host="localhost", port=3306,
                    user="root", passwd="pass",
                    db = "testdb")
cursor = db.cursor()

In [29]:
sql = """
    create table persons(
        PersonId  int,
        LastName  varchar(255),
        FirstName varchar(255),
        Address   varchar(255),
        City      varchar(255))
    """

cursor.execute(sql)

0

In [30]:
sql = """
    drop table persons
    """

cursor.execute(sql)

0

### 실습 (Alter Table)
1. persons 테이블 생성 (있으면 drop 후)
2. LastName > Last 변경
3. Address 삭제
4. City varchar(50)
5. no varchar(20) 추가

In [32]:
import pymysql

db = pymysql.connect(host="localhost", port=3306,
                    user="root", passwd="pass",
                    db="testdb")

cursor = db.cursor()

In [33]:
sql = """
    create table persons(
        PersonId  int,
        LastName  varchar(255),
        FirstName varchar(255),
        Address   varchar(255),
        City      varchar(255))
    """

cursor.execute(sql)

0

In [34]:
#Address 삭제
sql = """
    alter table persons
    drop column Address"""

cursor.execute(sql)

0

In [35]:
#City datatype 변경
cursor.execute("alter table persons modify column City varchar(50)")

0

In [36]:
#No column 추가
cursor.execute("alter table persons add column No varchar(20)")

0

In [41]:
#column 명칭 변경
cursor.execute("alter table persons rename column LastName to Last")

0