## 변수의 이해

In [4]:
temp = 2

In [6]:
print(temp)

2

In [7]:
a=10
print(a)

10

In [10]:
b="hello" #이것은 변수 b에 "hello"를 할당합니다.
print(b)

hello

## 변수이름 규칙

1. 문자, 숫자, 밑줄 기호(_)를 사용
    - myjob, myjob123, my_job123
    - 한글

In [17]:
파이썬 = 123 #한글은 오류가 날 수 있어서 많이 사용하지는 않는다.

In [18]:
파이썬

123

2. 첫자리에는 숫자를 사용할 수 없음
    - 1myjob(X)

3. 대소문자를 구분
    - myjob, myJob, Myjob, MyJob

4. 밑줄 이외의 기호는 변수이름에 사용할 수 없음
    - my%job(X)

5. 파이썬 키워드는 변수명으로 사용할 수 없다.

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
c = 7*3;c

21

In [24]:
a = 3 ; b = 5

In [26]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

print("-"*20)
print("a+b =", a+b) #문자열을 넣고 변수 값을 출력
print("a-b = {}".format(a+b)) #.format의 내용을 {}에 할당
print("a+b = {} * {} = {}".format(a, b, a*b))
# {} 개수에 맞추어 값을 할당
print("a/b - %d / %d = %f"%(a, b, a/b))
#.format 대신 %로 연결 > %d(정수형 숫자) %f(소수형 숫자)
# 이에따라 소수점 어디까지 끊을 수 있음

8
-2
15
0.6
--------------------
a+b = 8
a-b = 8
a+b = 3 * 5 = 15
a/b - 3 / 5 = 0.600000

In [29]:
print(a//b) #나머지는 버리고 몫만 출력

0

In [28]:
print(a%b) #나머지만 출력

3

In [30]:
cc = a%b #모든 변수는 항상 새로운 변수에 담을 수 있다.

In [31]:
(a%b) == 1

False

In [32]:
cc == 3

True

In [45]:
####지수 '**'
a=7
b=3
print(a**b) #a의 b승

343

## 문자열
1. temp 변수에 'python is easy'를 넣으세요
2. temp 변수 내용을 확인하세요

In [37]:
temp = 'python is easy'
print(temp)

python is easy

In [39]:
temp1 = "python is easy ll"; temp1 
#print 없이 직접 입력하면 ''가 생성된다

'python is easy ll'

In [40]:
len(temp) #띄어쓰기 포함 자리수

14

In [41]:
'python' + 'is easy'

'pythonis easy'

In [42]:
'python ' + 'is easy'

'python is easy'

In [1]:
a = 'python'
b = 'is easy'
a + '' + b #공백을 선언해 주는 것

'pythonis easy'

In [46]:
temp[3]

'h'

In [47]:
temp[0] #len에 나온 자릿수 - 1

'p'

In [48]:
# slice[st:en]
temp

'python is easy'

In [50]:
temp[0:5] #0부터 다섯번째 앞까지(0,1,2,3,4,5)

'pytho'

In [52]:
# easy
temp[10:14] #10부터 열 네번째 앞까지(10,11,12,13)

'easy'

In [54]:
#temp[st:en]
temp[10:] #끝까지라는 뜻

'easy'

In [55]:
temp[:] #처음부터 끝까지라는 뜻

'python is easy'

In [57]:
temp[10:-1] #맨마지막값 제외

'eas'

In [58]:
temp[0:14:2]

'pto ses'

In [59]:
a = 10

In [60]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [61]:
dir(temp)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
# temp.(tab)

In [66]:
# split() 스페이스 기준
temp.split()

['python', 'is', 'easy']

In [67]:
temp.split(sep="y")

['p', 'thon is eas', '']

In [69]:
temp2 = ['python', 'java', 'R', 'SAS']
temp2

['python', 'java', 'R', 'SAS']

In [70]:
','.join(temp2)

'python,java,R,SAS'

In [71]:
'$'.join(temp2)

'python$java$R$SAS'

In [77]:
string = 'my name is "LIM"'
string1 = "my name is 'LIM'"
print(string)
print(string1)

my name is "LIM"
my name is 'LIM'

In [83]:
string2 = '''
2021년 3월이 시작
올해는 파이썬을 활용한 데이터분석 전문가를
목표로 하면 좋겠습니다.
'''
string2

'\n2021년 3월이 시작\n올해는 파이썬을 활용한 데이터분석 전문가를\n목표로 하면 좋겠습니다.\n'

In [80]:
print(string2)

2021년 3월이 시작
올해는 파이썬을 활용한 데이터분석 전문가를
목표로 하면 좋겠습니다.

In [85]:
string2.split("\n")

['', '2021년 3월이 시작', '올해는 파이썬을 활용한 데이터분석 전문가를', '목표로 하면 좋겠습니다.', '']

## 문자열 함수

In [91]:
str = '  Life is good ';
print(str)

  Life is good

In [92]:
len(str)

15

In [93]:
lenstr = len(str) ; lenstr

15

In [94]:
str.find('i')

3

In [95]:
temp3 = str

In [96]:
temp3.upper()

'  LIFE IS GOOD '

In [98]:
temp3.strip() #공백을 없애는 함수

'Life is good'

In [102]:
txt = 'hello, and welcome to my world!'
x = txt.capitalize()
print(x)

Hello, and welcome to my world!

In [103]:
txt = 'Hello, And Welcome To My World!'
x = txt.casefold()
print(x)

hello, and welcome to my world!

## 데이터 구조
1. 리스트 : 변수 = [요소1, 요소2, 요소3]
2. 튜플 : 변수 = (요소1, 요소2, 요소3)
3. 딕셔너리 : 변수명 = {"ket1":"value1", "key2":"value2", ....}

### 리스트, 튜플

In [106]:
# 리스트 생성
num = ['one', 'two', 'three', 'four']
num

['one', 'two', 'three', 'four']

In [108]:
#튜플구조에서 리스트 구조로 변환하기
num_tuple = ('one', 'two', 'three', 'four')
num_tuple

('one', 'two', 'three', 'four')

In [109]:
list(num_tuple)

['one', 'two', 'three', 'four']

In [110]:
num_list = list(num_tuple);num_list

['one', 'two', 'three', 'four']

In [111]:
num[0]

'one'

In [112]:
num[1]

'two'

In [113]:
num[0] = "first";num

['first', 'two', 'three', 'four']

In [116]:
num.append('five');num #실행시킨 숫자만큼 추가된다

['first', 'two', 'three', 'four', 'five', 'five', 'five']

In [117]:
del num[4]; num

['first', 'two', 'three', 'four', 'five', 'five']

In [118]:
num.remove('three');num

['first', 'two', 'four', 'five', 'five']

In [119]:
num1 = ['1','2','3','4']
num2 = ['a','b','c','d']

In [120]:
num1

['1', '2', '3', '4']

In [121]:
num2

['a', 'b', 'c', 'd']

In [123]:
num1.extend(num2);num1

['1', '2', '3', '4', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [129]:
num=['one','two','three','four']
new_num = sorted(num)
print("before = ", num)
print("after = ", new_num)

before =  ['one', 'two', 'three', 'four']
after =  ['four', 'one', 'three', 'two']

In [128]:
num.sort() #원본이 바뀌는 것이기 때문에 매우 위험한 방법
print("sort = ", num)

sort =  ['four', 'one', 'three', 'two']

In [131]:
num.sort(reverse=True)
print("sort = ", num)

sort =  ['two', 'three', 'one', 'four']

In [132]:
type(num)

list

In [133]:
num2 = (1,2,3,4)
num2

(1, 2, 3, 4)

In [134]:
type(num2)

tuple

### 딕셔너리

In [137]:
fruit_price = [['apple',3500], ['pear',2500], ['cherry',5000]]
fruit_price

fruit_dict = dict(fruit_price)
print(fruit_dict)

{'apple': 3500, 'pear': 2500, 'cherry': 5000}

In [139]:
fruit_dict2 = {'apple':3500,
              'pear':2500,
              'cherry':5000}
fruit_dict2

{'apple': 3500, 'pear': 2500, 'cherry': 5000}

In [141]:
fruit_dict.keys()

dict_keys(['apple', 'pear', 'cherry'])

In [142]:
fruit_dict.values()

dict_values([3500, 2500, 5000])

In [143]:
fruit_dict.items()

dict_items([('apple', 3500), ('pear', 2500), ('cherry', 5000)])

In [145]:
fruit_dict['pear'] #리스트, 튜플과는 다르게 키값을 불러와야 한다
#계속해서 매칭되는 순서가 없기 때문에 속도가 빠르다는 장점

2500

In [147]:
school_class = {1:['mina', 'jane', 'mark'],
               2:['peter', 'pay', 'parker'],
               3:['pay', 'joy', 'conan', 'new']}
school_class

{1: ['mina', 'jane', 'mark'],
 2: ['peter', 'pay', 'parker'],
 3: ['pay', 'joy', 'conan', 'new']}

In [148]:
school_class[2]

['peter', 'pay', 'parker']

In [149]:
school_class.get(1)

['mina', 'jane', 'mark']

In [155]:
python = True

In [156]:
python

True

In [157]:
type(python)

bool

## 비교 연산자 실습

In [170]:
a=10; b=15; c=10
print("a == b 이면", (a==b))
print("a != b 이면", (a!=b))
print("a < b 이면", (a<b))
print("a > b 이면", (a>b))
print("a >= b 이면", (a>=b))
print("a in (10,20,30) 이면", (a in (10,20,30)))

a == b 이면 False
a != b 이면 True
a < b 이면 True
a > b 이면 False
a >= b 이면 False
a in (10,20,30) 이면 True

## 논리 연산자 실습

In [3]:
print("(a==b) and (a==c) =", (a==b) and (a==c)) #'그리고' = 둘 다 참이어야 참

(a==b) and (a==c) = False

In [4]:
(a==b) & (a==c)

False

In [5]:
a==b & a==c #정확한 지시가 필요

True

In [6]:
print("(a==b) or (a==c) =",(a==b) or (a==c)) #'또는' = 둘 중 하나만 참이어도 참

(a==b) or (a==c) = True

In [7]:
a==b

False

In [8]:
not(a==b)

True

In [9]:
a

10

In [10]:
b

15

In [11]:
id(a)

140709737343040

In [12]:
id(b)

140709737343200

In [13]:
#'is', 'is not' 식별 연산자는 id 값을 비교하는 것

## 조건문
1. if
2. if else
3. if elif else

In [16]:
#문법
# if (조건)

python = True

if(python) :
    print("조건문이 참일때 실행")

조건문이 참일때 실행

In [18]:
python = True

if(python) :
    print("조건문이 참일 때 실행")
else:
    print("조건문이 거짓일 때 실행")

조건문이 참일 때 실행

In [20]:
a=10; b=20; c=10

if(a==b) :
    print("조건문이 참일 때 실행")
else:
    print("조건문이 거짓일 때 실행")

조건문이 거짓일 때 실행

In [21]:
python = 0 #0이면 거짓, 나머지는 참

if(python) :
    print("조건문이 참일 때 실행")
else:
    print("조건문이 거짓일 때 실행")

조건문이 거짓일 때 실행

In [22]:
python = 1 #혹은 -1

if(python) :
    print("조건문이 참일 때 실행")
else:
    print("조건문이 거짓일 때 실행")

조건문이 참일 때 실행

In [23]:
python=True

if(python):
    print("참일 때 실행1") #if문에서 띄어쓰기로 실행 영역 구분하므로 주의할 것.
    print("참일 때 실행2")
    print("참일 때 실행3")
else:
    print("거짓일 때 실행1")
    print("거짓일 때 실행2")
    print("거짓일 때 실행3")

참일 때 실행1
참일 때 실행2
참일 때 실행3

In [25]:
#elif
python = False
pycharm = True

if(python): #1. 조건 실행
    print("첫번째 조건 참")
elif(pycharm): #2. #1이 Flalse일 때 조건 실행
    print("첫번째 조건 참이 아님")
    print("두번째 조건 참")
else: #3. #2가 False일 때 조건 실행
    print("조건 참이 아님")

첫번째 조건 참이 아님
두번째 조건 참

In [27]:
#elif
python = False
pycharm = False
aa=True

if(python): 
    print("첫번째 조건 참")
elif(pycharm):
    print("첫번째 조건 참이 아니고 두번째 조건 참")
elif(python or pycharm or aa):
    print("세번째 조건만 참")
else: 
    print("조건 참이 아님")

세번째 조건만 참

## 실습 문제
1.  점수를 화면 입력받아 처리하는 기능
2.  점수 > 90 "A등급"
    90 > 점수 > 80 "B등급"
    80 > 점수 > 70 "C등급"
    70 > 점수 " D등급"

In [30]:
input("점수는 몇 점?")

점수는 몇 점?95

'95'

In [31]:
score = input("점수는 몇 점?")

점수는 몇 점?95

In [32]:
score

'95'

In [34]:
if(score>=90):
    print("A등급")
elif(90>score>=80):
    print("B등급")
elif(80>score>=70):
    print("C등급")
else:
    print("D등급") #에러메시지 해석 : score는 ''로 이루어진 string값(문자열) > int(score)로 값을 바꿀 수 있다.

TypeError: '>=' not supported between instances of 'str' and 'int'

In [35]:
type(score)

str

In [36]:
score=int(score)

In [37]:
type(score)

int

In [38]:
if(score>=90):
    print("A등급")
elif(90>score>=80):
    print("B등급")
elif(80>score>=70):
    print("C등급")
else:
    print("D등급")

A등급

In [39]:
#위에서 한 모든 과정을 종합하면 다음과 같다

score=int(input("점수는 몇 점?"))

if(score>=90):
    print("A등급")
elif(90>score>=80):
    print("B등급")
elif(80>score>=70):
    print("C등급")
else:
    print("D등급")

점수는 몇 점?85
B등급

## 반복문
1. for
2. while

In [40]:
#문법
#for ( 변수 ) in [반복횟수정보] :
#반복 실행문

In [48]:
range(1,10)

range(1, 10)

In [43]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
for i in range(1,10):
    print("숫자=", i)

숫자= 1
숫자= 2
숫자= 3
숫자= 4
숫자= 5
숫자= 6
숫자= 7
숫자= 8
숫자= 9

In [45]:
for i in range(1,10,2):
    print("숫자=", i)

숫자= 1
숫자= 3
숫자= 5
숫자= 7
숫자= 9

In [46]:
for i in [1,3,4,5,7]:
    print("숫자=", i)

숫자= 1
숫자= 3
숫자= 4
숫자= 5
숫자= 7

In [49]:
count = 0
for i in [1,3,4,5,7]:
    print("count=", count, "숫자=", i)
    count = count + 1

count= 0 숫자= 1
count= 1 숫자= 3
count= 2 숫자= 4
count= 3 숫자= 5
count= 4 숫자= 7

In [50]:
count = 0
aa=[1,3,4,5,7]

for i in aa:
    print("count=", count, "숫자=", i)
    count = count + 1

count= 0 숫자= 1
count= 1 숫자= 3
count= 2 숫자= 4
count= 3 숫자= 5
count= 4 숫자= 7

In [53]:
count = 0
bb = "hello" #'int' object is not iterable

for i in bb:
    print("count", count, "알파벳=", i)
    count = count +1

count 0 알파벳= h
count 1 알파벳= e
count 2 알파벳= l
count 3 알파벳= l
count 4 알파벳= o

In [56]:
fruit = ['apple', 'pear', 'cherry']
print(type(fruit))

for i in fruit:
    print("과일명은", i)

<class 'list'>
과일명은 apple
과일명은 pear
과일명은 cherry

In [58]:
#딕셔너리 for문
fruit_price = {'apple':3500, 'pear':2500, 'cherry':3500}
print(fruit_price)

for i in fruit_price.keys():
    print("과일명은", i)

{'apple': 3500, 'pear': 2500, 'cherry': 3500}
과일명은 apple
과일명은 pear
과일명은 cherry

In [59]:
fruit_price = {'apple':3500, 'pear':2500, 'cherry':3500}
print(fruit_price)

for i in fruit_price.values():
    print("과일 가격은", i)

{'apple': 3500, 'pear': 2500, 'cherry': 3500}
과일 가격은 3500
과일 가격은 2500
과일 가격은 3500

In [60]:
fruit_price.items()

dict_items([('apple', 3500), ('pear', 2500), ('cherry', 3500)])

In [61]:
fruit_price = {'apple':3500, 'pear':2500, 'cherry':3500}
print(fruit_price)

for i in fruit_price.items():
    print("과일 가격은", i)

{'apple': 3500, 'pear': 2500, 'cherry': 3500}
과일 가격은 ('apple', 3500)
과일 가격은 ('pear', 2500)
과일 가격은 ('cherry', 3500)

In [62]:
for i in fruit_price.items():
    print("과일명은", i[0], "과일 가격은", i[1])

과일명은 apple 과일 가격은 3500
과일명은 pear 과일 가격은 2500
과일명은 cherry 과일 가격은 3500

In [64]:
#과일명을 저장할 빈 리스트 만들기
high_price =[]
low_price =[]

#과일명과 가격으로 구성된 딕셔너리 생성
fruit_price = {'apple':3500, 'pear':2500, 'cherry':3500}

#과일가격이 3000원보다 큰 과일명과 작은 과일명 찾기
for item in fruit_price.items():
    if item[1]>3000 :
        high_price.append(item[0])
    else:
        low_price.append(item[0])
        
#결과 출력하기
print("3000원 이상 과일은", high_price)
print("3000원 이하 과일은", low_price)

3000원 이상 과일은 ['apple', 'cherry']
3000원 이하 과일은 ['pear']

In [65]:
#과정 뜯어보기
high_price =[]
low_price =[]

fruit_price = {'apple':3500, 'pear':2500, 'cherry':3500}

for item in fruit_price.items():
    print("item=", item)
    if item[1]>3000 :
        print("item[1]111=", item[1])
        high_price.append(item[0])
        print("high=", high_price)
    else:
        print("item[1]222=", item[1])
        low_price.append(item[0])
        print("low=", low_price)

item= ('apple', 3500)
item[1]111= 3500
high= ['apple']
item= ('pear', 2500)
item[1]222= 2500
low= ['pear']
item= ('cherry', 3500)
item[1]111= 3500
high= ['apple', 'cherry']

In [70]:
#과일명과 과일 가격, 개수로 구성된 딕셔너리로 for문 만들기
high_price =[]
low_price =[]
high_count =[]; high_count = 0 #빈 저장소를 생성하는 것이 핵심
low_count =[]; low_count = 0

fruit_price = {'apple':[3500,10], 'pear':[2500,5], 'cherry':[3500,10]}

for item in fruit_price.items():
    if item[1][0]>3000 :
        high_price.append(item[0])
        high_count = high_count+item[1][1] #값을 계속 반복해서 더해주기 때문에 이렇게만 식을 세워주면 된다
    else:
        low_price.append(item[0])
        low_count = low_count+item[1][1]
        
#결과 출력하기
print("3000원 이상 과일은", high_price, "개수는", high_count)
print("3000원 이하 과일은", low_price, "개수는", low_count)

3000원 이상 과일은 ['apple', 'cherry'] 개수는 20
3000원 이하 과일은 ['pear'] 개수는 5

- python document if statements
https://docs.python.org/3/tutorial/controlflow.html#if-statements

In [76]:
x=int(input("Please enter an integer:"))

if (x<0):
    x=0
    print('Negative changed to zero')
elif (x==0):
    print('Zero')
elif (x==1):
    print('Single')
elif (x>1):
    print('More')

Please enter an integer:-8
Negative changed to zero

In [77]:
for name, value in fruit_price.items():
    print("과일명은", name)
    print("과일가격과 개수는", value)

과일명은 apple
과일가격과 개수는 [3500, 10]
과일명은 pear
과일가격과 개수는 [2500, 5]
과일명은 cherry
과일가격과 개수는 [3500, 10]

- break

In [83]:
for n in range(2,10):
    for x in range(2,n) :
        if n % x ==0:
            print(n, "equals", x, '*', n//x)
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
4 is a prime number
5 is a prime number
6 equals 2 * 3
6 equals 3 * 2
6 is a prime number
7 is a prime number
8 equals 2 * 4
8 equals 4 * 2
8 is a prime number
9 equals 3 * 3
9 is a prime number

In [84]:
for n in range(2,10):
    for x in range(2,n) :
        if n % x ==0:
            print(n, "equals", x, '*', n//x)
            break
    else:
        print(n, 'is a prime number') #파이썬 for else문 : 자주는 안 씀

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [89]:
for num in range(2, 10):
    if num % 2 == 0:
         print("Found an even number", num)
         continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [90]:
for num in range(3, 10):
    if num % 2 == 0:
         print("Found an even number", num)
         break
    print("Found an odd number", num)

Found an odd number 3
Found an even number 4

- while (조건) :
    조건이 충족되면 무한 반복
    (조건 변경 작업으로 모듈 종료)

In [93]:
n=10
a,b=0,1

while a<n:
    print(a, end='')
    print("before a =",a, "b =", b)
    a,b = b,a+b
    print("after a =", a, "b =", b)
    print("-"*10)

0before a = 0 b = 1
after a = 1 b = 1
----------
1before a = 1 b = 1
after a = 1 b = 2
----------
1before a = 1 b = 2
after a = 2 b = 3
----------
2before a = 2 b = 3
after a = 3 b = 5
----------
3before a = 3 b = 5
after a = 5 b = 8
----------
5before a = 5 b = 8
after a = 8 b = 13
----------
8before a = 8 b = 13
after a = 13 b = 21
----------