### while문 실행하기

In [1]:
count=5
while count > 0:
    print('Welcome=',count)
    count = count -1 #count -=1
else:
    print('While문 종료')
    print('줄맞품 확인')

Welcome= 5
Welcome= 4
Welcome= 3
Welcome= 2
Welcome= 1
While문 종료
줄맞품 확인

### 리스트를 for문을 사용해서 추가할 때

In [2]:
num = list(range(1,6))
square = []

for i in num:
    square.append(i**2)
square

[1, 4, 9, 16, 25]

In [3]:
num=list(range(1,6))

[ i**2 for i in num] #한 문장으로 정의하는 법.

[1, 4, 9, 16, 25]

In [4]:
square = [ i**2 for i in num]
square

[1, 4, 9, 16, 25]

In [5]:
#num = [1,2,3,4,5]
num=list(range(1,6))

st = 1; en = 6
num1 = list(range(st,en))

square = []
for i in num:
    if i >=3:
        square.append(i**2)
        
square

[9, 16, 25]

In [6]:
[i**2 for i in num if i>=3]

[9, 16, 25]

### 함수 def

In [7]:
#인자 없는 실행 함수
def hello():
    print('hello python!')
    
hello()

hello python!

In [8]:
#인자를 받아서 실행 함수
def sum0(a,b):
    c=a+b
    print(c) #내장함수와 동일한 이름을 설정하면 헷갈릴 수 있다. 다른 이름으로 만드는 것을 권장.

In [9]:
sum0(3,2)

5

In [10]:
a=5 ; b=7; sum0(a,b)

12

In [11]:
x=2; y=3; sum0(x,y)

5

In [12]:
#인자를 받아서 실행 후 결과값을 제공
def sum1(a1,b1):
    c1=a1+b1
    print('c1=',c1)
    return a1+b1
#return과 관계없이 함수값은 출력이 가능한데 이것이 결과값을 갖기 위해서는 반드시 return을 써 주어야 한다.

In [13]:
sum1(2,3)

c1= 5

5

In [14]:
res = sum1(3,5)

c1= 8

In [15]:
res #return값이 없으면 결과값이 나오지 않음.

8

In [16]:
#여러 개 인자를 받을 때
def sum_many(*args): # **는 딕셔너리 형태
    print('args=', args)
    sum = 0
    for i in args:
        sum+=i
    return sum

In [17]:
sum_many(1,2,3,4,5,6)

args= (1, 2, 3, 4, 5, 6)

21

In [18]:
sum_many(list(range(1,7))) #형식이 맞지 않아 오류 > 딕셔너리 형태이기 때문에 튜플 형태인 *args와 다름

args= ([1, 2, 3, 4, 5, 6],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [19]:
#문제해결 방법
def sum_many1(*args):
    print('args=', args[0])
    sum = 0
    for i in args[0]:
        sum+=i
    return sum

In [20]:
sum_many1(list(range(1,7)))

args= [1, 2, 3, 4, 5, 6]

21

In [21]:
#호출 규칙
def std_arg(arg): #호출 규칙에 제한이 없음
    print('1=', arg)
def pos_only_arg(arg,/): #위치 매개변수만 사용 가능
    print('2=', arg)
def kwd_only_arg(*,arg):
    print('3=', arg)
def combined_example(pos_only, /, standard, *, kwd_only): #변수 세개를 다 다른 유형으로 처리 가능
    print(pos_only, standard, kwd_only)

In [22]:
std_arg(2)

1= 2

In [23]:
std_arg(arg=2)

1= 2

In [24]:
pos_only_arg(1)

2= 1

In [25]:
pos_only_arg(arg=1)
#위치매개변수만 가능하다는 오류메시지

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

In [26]:
kwd_only_arg(3)
#arg 정보가 필요하다는 오류메시지

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [27]:
kwd_only_arg(arg=3)

3= 3

In [28]:
combined_example(1,2,kwd_only=3)

1 2 3

In [29]:
combined_example(1,standard=2,kwd_only=3)

1 2 3

### class 
- 객체지향 프로그램 > 데이터 모델링에 많이 사용.
- 객체는 속성과 행위로 구성된 대상. 이는 함수와 변수로 묶어진다.

In [30]:
class Caculator:
    txt = '문자'
    def sum2(self, a,b): #self는 필수 문법
        c=a+b
        return c

#하나의 클래스는 하나의 라이브러리에 맵핑되는데 하나의 라이브러리는 여러 클래스를 가질 수 있다.
#클래스 안에 함수가 여러 개 들어가 있을 수도 있다.

In [31]:
x=Caculator

In [32]:
dir(x)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'sum2',
 'txt']

In [33]:
class Family():
    def father(self):
        print('아빠')
    def mother(self):
        print('엄마')
    def son(self):
        print('아들')
        
class Look():
    def handsome(self):
        print('잘 생겼다')
    def pretty(Self):
        print('예쁘다')
    def slim(self):
        print('날씬하다')

In [34]:
we=Family()

In [35]:
we.father()

아빠

In [36]:
body=Look()
body.slim()

날씬하다

In [37]:
class Employee:
    def __init__(self, name, salary) : # Employee가 실행될 때 자동적으로 먼저 실행
        print('Employee Init')
        self.name = name
        self.salary = salary
    def displayCount(self):
        print('hello ')

In [38]:
x = Employee('홍길동',30)

Employee Init

In [39]:
dir(x)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'displayCount',
 'name',
 'salary']

In [40]:
x.name

'홍길동'

In [41]:
x.salary

30

In [42]:
x.displayCount

In [43]:
#상속
class Father():
    def handsome(self):
        print('잘생겼다')

class Brother(Father):
    """아들"""
        
class Brother1():
    """아들"""

In [44]:
aa=Brother1()

In [45]:
brother=Brother()

In [46]:
brother.handsome() #클래스가 상속되어 father의 속성을 brother가 가지고 있음. 참고해서 클래스 생성.

잘생겼다

In [47]:
class Father():
    def handsome(self):
        print('잘생겼다')

class Sister(father):
    def pretty(self):
        print('예쁘다')
    def handsome(self):
        self.pretty()
        
girl = Sister()

NameError: name 'father' is not defined

In [48]:
#상속은 받지만 내가 가진 속성을 쓰겠다고 정의한 것.
girl.pretty()

NameError: name 'girl' is not defined

In [49]:
girl.handsome()

NameError: name 'girl' is not defined

### 모듈
- 아나콘다 프롬프트에서와 동일하게 설치
- !pip install
- 설치 시에는 아나콘다 프롬프드에서 설치하는 것을 권장

In [50]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)

### 내장함수
 #### http://docs.python.org/ko/3/library/functions.html#enumerate
 #### http://www.w3schools.com/python/python_ref_functions.asp

1. enumerate()

In [51]:
seasons=['봄','여름','가을','겨울']
list(enumerate(seasons))

[(0, '봄'), (1, '여름'), (2, '가을'), (3, '겨울')]

In [52]:
n=0
for data in seasons:
    print('n=',n,'계절=', data)
    n+=1

n= 0 계절= 봄
n= 1 계절= 여름
n= 2 계절= 가을
n= 3 계절= 겨울

In [53]:
for data in enumerate(seasons):
    print('계절=', data)

계절= (0, '봄')
계절= (1, '여름')
계절= (2, '가을')
계절= (3, '겨울')

In [54]:
list(enumerate(seasons))

[(0, '봄'), (1, '여름'), (2, '가을'), (3, '겨울')]

In [55]:
tuple(enumerate(seasons))

((0, '봄'), (1, '여름'), (2, '가을'), (3, '겨울'))

In [56]:
#enumerate()가 취하는 객체는 iterable

2. eval()

In [57]:
x=1
print('x+1')

x+1

In [58]:
eval('x+1')

2

In [59]:
#문자열을 수식으로 해석하는 함수.

In [60]:
x='print(55)'
print(x)

print(55)

In [61]:
eval(x)

55

In [62]:
eval('100+32')

132

3.lambda

In [63]:
#내장함수는 아니지만 자주 사용
def x(a):
    return a +10
x(5)

15

In [64]:
x

In [65]:
y=lambda a: a+10 #함수 이름이 없음
y(5)

15

In [66]:
y #함수이름이 <lambda> 소멸성. 임시 함수.

In [67]:
x= lambda a,b : a*b
x(5,6)

30

In [68]:
def myfunc(n):
    return lambda a:a*n

In [69]:
myfunc

In [70]:
mydoubler = myfunc(2)

In [71]:
mydoubler

In [72]:
mydoubler(11) #myfunc에서 넣었던 2라는 값을 가지고 있다가 두 번째로 넣었을 때 람다에 대한 계산을 도출.

22

4. filter()

In [73]:
ages = [5,12,17,18,24,32]

def myfunc(x):  #성인만 고르는 함수 >> True, False만 판단
    if x < 16:
        return False
    else:
        return True
#이렇게 전체적으로 쓰는 것이 일단 기본 fm

In [74]:
adults = filter(myfunc, ages) #filter(function, iterable)
adults

In [75]:
list(adults)

[17, 18, 24, 32]

In [76]:
target=list(range(1,11))

def is_even(n):
    return True if n%2==0 else False

In [77]:
even = filter(is_even, target)
even

In [78]:
list(even)

[2, 4, 6, 8, 10]

In [79]:
for x in filter(is_even, target):
    print('x=',x)

x= 2
x= 4
x= 6
x= 8
x= 10

In [80]:
target = list(range(1,11))
list(filter(lambda x: x%2==0, target)) #함수를 filter() 안에 직접 구현

[2, 4, 6, 8, 10]

In [81]:
list(filter(lambda x: x%2==0, list(range(1,11))))

[2, 4, 6, 8, 10]

5. map()

In [82]:
def myfunc(n):
    return len(n)

In [83]:
map(myfunc, ('a','ab','abc'))

In [84]:
list(map(myfunc, ('a','ab','abc')))

[1, 2, 3]

In [85]:
def myfunc(a,b):
    return a+"-"+b

a= ('a','b','c')
b= ('ab','bb','cb')

list(map(myfunc,a,b))

['a-ab', 'b-bb', 'c-cb']

In [86]:
def myfunc(n):
    return n+1
target = list(range(1,6))
list(map(myfunc,target)) #[1,2,3,4,5] 각 숫자에 1을 더하는 것.

[2, 3, 4, 5, 6]

In [87]:
list(map(lambda x:x+1, target))

[2, 3, 4, 5, 6]

In [88]:
list(map(lambda x:x+1, list(range(1,6))))

[2, 3, 4, 5, 6]

6. zip()

In [89]:
x=[1,2,3]; y=[4,5,6]

zip(x,y)

In [90]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [91]:
list(zip(*zip(x,y)))

[(1, 2, 3), (4, 5, 6)]

7. reduce()

In [92]:
#내장함수는 아니고 다른 모듈에 있는 함수. map함수와 구현이 비슷.
def my_add(a,b):
    result = a+b
    print(f'{a}+{b}={result}')
    return result

my_add(5,5)

5+5=10

10

In [93]:
from functools import reduce
num = list(range(0,5))
reduce(my_add, num)
#a는 원래 있던 결과값(누적값), b는 새로 들어온 결과값

0+1=1
1+2=3
3+3=6
6+4=10

10

8. set()

In [94]:
myset = set((1,3,5,7,9))
myset

{1, 3, 5, 7, 9}

In [95]:
myset= set([1,3,5,7,9])
myset

{1, 3, 5, 7, 9}

In [96]:
myset = {1,3,5,3,8,9,3,9}
myset #중복을 제거하고 새로운 데이터를 만들기 위해 사용 가능.

{1, 3, 5, 8, 9}

In [97]:
#dir(myset)

In [98]:
myset={3,5,1,10}
myset

{1, 3, 5, 10}

In [99]:
myset1 = {'a','b','c','d'}
myset1

{'a', 'b', 'c', 'd'}

In [100]:
myset.pop() #원래 있는 값에서 하나 추출

1

In [101]:
myset #1을 사용했음

{3, 5, 10}

In [102]:
# union
set1={'a','b','c'}
set2={1,2,3}

set1.union(set2)

{1, 2, 3, 'a', 'b', 'c'}

In [103]:
set1

{'a', 'b', 'c'}

In [104]:
set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

In [105]:
x={1,3,5}
y={2,3,4}

x.intersection(y)

{3}

In [106]:
x-y

{1, 5}

In [107]:
y-x

{2, 4}

In [108]:
#Iterables
mylist = list(range(1,5))
mylist #계속 사용

[1, 2, 3, 4]

In [109]:
list(mylist)

[1, 2, 3, 4]

In [110]:
mygenerator = (x*x for x in range(3))
mygenerator #한 번 사용하면 소멸

In [111]:
list(mygenerator)

[0, 1, 4]

In [112]:
list(mygenerator)

[]

In [113]:
#Yield > return과 비슷, 제너레이터를 반환
def my_fun():
    mylist = range(3)
    for i in mylist:
        yield i+1

In [114]:
mygen = my_fun()
print(mygen)

<generator object my_fun at 0x0000024482928510>

In [115]:
for i in mygen:
    print('i=',i)

i= 1
i= 2
i= 3

10. try exceptions 예외 처리

In [116]:
while True:
    try:
        x = int(input('숫자를 입력 : '))
        print('입력 숫자는 =', x)
    except ValueError:
        print('숫자 입력 오류!! 다시 입력...')
        print('dddd',file=)

SyntaxError: invalid syntax (<ipython-input-116-cc8c98ec4af3>, line 7)

In [117]:
student = {'name':'홍길동',
          'id':21,
          'check':None}
student

{'name': '홍길동', 'id': 21, 'check': None}

In [118]:
try:
    last_name = student['last_name']
    no = last_name +3
    no
except KeyError:
    print('KeyError')
except TypeError as error:
    print('TypeError')
except Exception:
    print('Unknown Error')

KeyError

In [131]:
def divide(x,y):
    try:
        result=x/y
    except ZeroDivisionError:
        print('0으로 나눌 수 없음!!')
    except TypeError:
        print('TypeError')
    else:
        print('결과는=', result)
    finally:
        print('마지막 실행문')

In [132]:
divide(2,0)

0으로 나눌 수 없음!!
마지막 실행문

In [133]:
divide('2','1')

TypeError
마지막 실행문

In [ ]:
#오류가 발생할 때 try expet를 통해 예외처리를 해줄 수 있다.

In [134]:
#decorator

In [137]:
def trace(func):
    def wrapper():
        print(func.__name__, '함수 시작')
        func()
        print(func.__name__, '함수 끝')
    return wrapper

@trace
def hello():
    print('hello decorator')
    
@trace
def world():
    print('world decorator')

In [142]:
import os

def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname, filename)
        print(full_filename)
        
search('./') #내가 실행하고 있는 위치의 파일들

./.ipynb_checkpoints
./0308문법기초
./0309문법기초
./0310pandas,numpy
./0311pandas,numpy
./210309_내장함수.ipynb
./210311_matplotlib_guide.ipynb
./210311_numpy_quickstart.ipynb
./210312_seaborn_sample.ipynb
./210312_titanic_데이터전처리.ipynb
./210312_실습문제풀이.ipynb
./210315_실습.ipynb
./210315_파이썬_참고.ipynb
./archive.ics.uci.edu
./calc.ipynb
./calc.py
./foo.csv
./foo.h5
./foo.xlsx
./foo1.csv
./fruit.csv
./fruit.txt
./fruit2.txt
./German_credit.csv
./main.ipynb
./main.py
./main01.ipynb
./mod1.ipynb
./mod1.py
./titanic2.jpg
./titanic_train.csv
./titles.csv
./__pycache__
./임수빈_210308_문자열정리.ipynb
./임수빈_210311_pandas.ipynb

In [143]:
res = os.listdir('./')
res

['.ipynb_checkpoints',
 '0308문법기초',
 '0309문법기초',
 '0310pandas,numpy',
 '0311pandas,numpy',
 '210309_내장함수.ipynb',
 '210311_matplotlib_guide.ipynb',
 '210311_numpy_quickstart.ipynb',
 '210312_seaborn_sample.ipynb',
 '210312_titanic_데이터전처리.ipynb',
 '210312_실습문제풀이.ipynb',
 '210315_실습.ipynb',
 '210315_파이썬_참고.ipynb',
 'archive.ics.uci.edu',
 'calc.ipynb',
 'calc.py',
 'foo.csv',
 'foo.h5',
 'foo.xlsx',
 'foo1.csv',
 'fruit.csv',
 'fruit.txt',
 'fruit2.txt',
 'German_credit.csv',
 'main.ipynb',
 'main.py',
 'main01.ipynb',
 'mod1.ipynb',
 'mod1.py',
 'titanic2.jpg',
 'titanic_train.csv',
 'titles.csv',
 '__pycache__',
 '임수빈_210308_문자열정리.ipynb',
 '임수빈_210311_pandas.ipynb']

In [149]:
for fd in res:
    name=fd
    print(type(name))
    break

<class 'str'>