In [1]:
a=1; b=2
print(a+b)

3

In [3]:
rnn='970214-1234567'
birth=rnn[:6]
id_num=rnn[7:]

print(birth)

970214

In [4]:
a="20010331Rainy"
len(a)

13

In [7]:
date=a[:8]
weather=a[8:]

print(date)
print(weather)

20010331
Rainy

In [9]:
st=0; en=8

date=a[st:en]
weather=a[en:]

print("date is",date)
print("weather is",weather)

date is 20010331
weather is Rainy

In [10]:
a="20010331Rainy"
year=a[:4]
day=a[4:8]

print('year is', year)
print('day is', day)

year is 2001
day is 0331

In [11]:
a='Pithon'
a[1]='y' #리스트나 딕셔너리는 이렇게 하나씩 바꿀 수 있지만 문자열은 불가능. 하나씩 나누어서 만들어주어야 함.

TypeError: 'str' object does not support item assignment

In [13]:
a[:1]+'y'+a[2:]

'Python'

In [14]:
a=[1,2,['a','b',['Life','is']]] #리스트 안에 리스트
print(a)

[1, 2, ['a', 'b', ['Life', 'is']]]

In [18]:
a2=a[2]
a4=a2[2]
a8=a4[0]

print(a8)

Life

In [20]:
a[2][2][0]

'Life'

In [23]:
kor=80; eng=75; math=55

avg=(kor+eng+math)/3
print(avg)

70.0

In [35]:
val=[1,4,7,132]

for i in val:
    if i % 2 ==0:
        print("{}= 짝수".format(i))
    else:
        print("{}= 홀수".format(i))

1= 홀수
4= 짝수
7= 홀수
132= 짝수

In [46]:
val=[1,2,3,4] #파이썬에서 수정이 쉽도록 코드에 숫자를 직접 지정하지 않고 변수로 지정해서 많이 사용한다.
check=4

if check in val:
    print("4가 있습니다")
else:
    print("4가 없습니다")

4가 있습니다